*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(12, 89, 55);
}
/*---------------  ELEMENTS  ----------------*/
button{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 9px;
}
input{
  padding: 11px;
  border-radius: 9px;
}
/*---------------  HEADER  ----------------*/
header{
  background-color: #f5f5dc;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;

}
/*---------------  HERO  ----------------*/
.hero{
  background-color: #ffe;
  padding: 50px 20px;
  text-align: center;
}
.p_hero{
  color: gray;
}
.hero button{
  padding: 12px 25px;
}
/*---------------  FEATURES  ----------------*/
.features{
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
}
.feature{
  background-color: rgb(202, 78, 233);
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}
.contact{
  background-color: aqua;
  padding: 50px 20px;
}
footer{
  background-color: black;
  color: aliceblue;
}
/*responsive*/
@media(max-width:600px){
  .features{
    flex-direction: column;
  }
}